//Esquema de colores

//Primer esquema de color
$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;

//Segundo esquema de color
$fuzzy-wuzzy: #e56353;
$cruddy-pink: #d76c69;
$spanish-pink: #ecbcba;

//Tercer esquema de color 
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;


//Font-family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Cambio de tamaño de pantalla 
$min-width: 480px;

//Font-weight (pesos) 
$light-roboto: 300;
$regular: 400;
$black-italic: 900;

//Font-size (tamaños de fuente) 
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;


// Poner en archivos correspondientes
$img-medium: 120px;
$img-large: 150px;
$text-space: 30px;





