.hero_section {
    background-image: url(../img/post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 800px;
    font-style: italic;
}

.hero-section__titulo {
    background-size: cover;
    font-style: italic;
    font-size: $x-large;
    color: $white;
    font-family: $playfair;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
    width: 75%;
    text-align: center;
}
.fa-angle-double-down:before{
    color: $white;
}
.hero-section__arrow{
    text-align: center;
    padding-top:210px;
}

/* Mayor a este $min-width se ve este codigo */
@media (min-width: $min-width) {
    .hero-section__titulo {
        background-size: cover;
        font-style: italic;
        font-size: $xx-large;
        color: $white;
        font-family: $playfair;
        display: flex;
        align-items: center;
        justify-content: center;
      /*  padding: 250px;*/
    }

}